.scroll-container{
    overflow: scroll;
    height: 100vh;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
    } 
   
  @media (max-width:600px){
      .scroll-container{
          scroll-snap-type: none;
      }
    }  
  