@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 20px;
    height: 20px;
    border: 10px solid #1C2E35;
    border-top: 10px solid white; /* Black */
    border-radius: 50%;
    margin: 0px auto;
    animation: spinner 1.5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }